.line {
    display: flex;
    flex-wrap: wrap;

    &--highlight {
        background-color: yellowgreen;
    }
}

.thing {
    display: flex;
    flex-wrap: wrap;
}

.popup {
    display: none;
    cursor: pointer;

    &:hover {
        display: flex;
        position: fixed;
        
    }
}