.pages {

    &__page {
        list-style-type: none;
        text-decoration: none;

        border: 2px solid black;
        border-radius: 8px;

        width: 9vw;
        height: 3vw;

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 3rem;
        color: black;

        &:hover {
            border: 2px solid yellow;
        }
    }
}